/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Lisa Savoie
Author URI:   http://lscodes.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/* Global styles */


/* Homepage styles */
.home-page {
  background: url("img/photo w-overlay-white.png") no-repeat scroll  right center / cover rgba(0, 0, 0, 0);
}
#masthead {
  background: none repeat scroll 0 0 #1477d1;
}
#masthead nav ul li {
  float: left;
  margin: 0 10px;
  font-family: 'Ubuntu', sans-serif;
}
.page-header .top-logo .title {
  font-family: 'Lora', serif;
}
.hero-content h1 {
  color: #0A3B67;
  line-height: 1.2;
}
 .hero-content h3 {
  color: #0A3B67;
}
.button {
	background: none repeat scroll 0 0 #1477d1;
}

/* Intro section */
/* .intro-section {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -85px;
  background-color: #ecf5fd;
} */
.intro {

}
.intro h2{
  text-align: center;
}
.intro p {
  text-align: center;
  width: 70%;
}
.featured-work .site-content{
 display: block;
}
.featured-work .site-content h4 {
  font-size: 16px;
  font-size: .94em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-bottom: 2.5em;
}

/* Homepage: case studies */
.homepage-featured-work-row { /*maybe use display: block; for mobile*/
  display: flex;
  /* flex-flow: row; */
  flex-flow: row wrap;
  justify-content: space-between;
}
.individual-work-title { /* granular */
  text-align: center;
}

/* Homepage: Blog post - take out extra code */
.recent-posts {
  margin-top: 50px;
  display: block;
}
.blog-post {
    width: 45%;
    float: left;
    margin-bottom: 2em;
    display: inline-block;
}
.blog-post h4 {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}
.blog-post h2 {
  font-size: 1.5em;
}
.read-more-link {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	color: #1477d1;
	text-transform: uppercase;
}

/* Homepage: twitter widget */
.twitter-widget {
  width: 45%;
  float: left;
  margin-bottom: 2em;
  display: inline-block;
}
.twitter-widget h4 {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}
.twitter-widget h3 {
  font-size: 1.5em;
}
.twitter-widget .follow-us-link {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	color: #1477d1;
	text-transform: uppercase;
}
.tweets {
  margin-left: 0;
}
.tweets li {
  list-style-type: none;
}
.stt-em a {
  display: none;
}
/* End Homepage styles */

 /* Case Studies */
 article .case-study{
   margin: 40px 0 0;
 }
 article .case-study-sidebar {
   float: left;
   width: 314px;
   margin: 0 40px 0 0;
 }
 div .case-study-images {
   float: left;
   width: 606px;
 }
 div .case-study-images img {
   display: block;
   margin-bottom: 50px;
   border: 1px solid #dddddd;
 }
 .main-content {
   margin-bottom: 80px;
 }
 /* End Case Studies */

/* Case Study Archive */
.case-study {
  margin-top: 80px;
  margin-bottom: 80px;
}
.case-study-images {
  padding-left: 85px;
}
div.case-study-images img {
	width: 100%;
	height: auto;
}
.view-project {
  color: #1477d1;
}
/* End Case Study Archives */

/* About page */
.about-page {
  background: url("img/death-to-stock-nyc6.png") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
  height: auto;
  margin: 0 0 5em;
  padding: 8em 0;
  text-align: center;
}
.about-hero-content h3 {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 1.4em;
  font-weight: normal;
  max-width: 42%;
  margin: 0 auto;
}
.services-list {
  max-width: 76%;
  margin: 0 auto;
}
.about-services {
  text-align: center;
}
.about-services p {
  width: 55%;
}
.services-offered {
  margin-top: 68px;
  margin-bottom: 68px;
  justify-content: space-between;
}
.services-offered-images {
  float: left;
}
.services-offered-images a img {
  width: 216px;
}
.services-offered-sidebar {
  width: 65%;
  float: right;
}
.services-offered:nth-child(even) {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.contact-link-section {
  clear: both;
  margin: 0 auto;
  max-width: 75%;
  border-top: 2px solid #ddd;
}
.cta {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.cta h4 {
  float: left;
  width: 35%;
  text-transform: none;
}
.cta a {
  /*width: 25%;*/
  float: left;
  margin-top: 20px;
}
/* End About page */

/* 404 page */
.lost-hero-content {
  background: url("img/fredrick-kearney-jr-unsplash.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
  height: auto;
  margin: 0 0 5em;
  padding: 20em 0;
}
.lost-header {
	color: #fff;
	font-weight:bold;
	font-size: 2em;
	line-height: 1.5;
	margin: 0 2%;
  margin-bottom: 2em;
}
.lost-page a {
  margin-left: 1.6em;
}
.photo-credit {
  max-width: 76%;
  margin: 0 auto;
}
.photo-credit h4 {
  font-family: 'Londrina Solid', 'Montserrat', 'Open Sans', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
/* End 404 page */

/*Sidebar */
.mc4wp-form-fields input[type="submit"] {
  background: #1477d1;
  padding: 1em 4.3em 2em 4.3em;
}
/* End Sidebar */

/* Footer */
.social-media-menu li {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
/*  background: black;
  border-radius: 50%; */
}
.social-media-menu li a {
  color: #0A3B67;
/*  padding: 0 5px 0 5px; */
}
#main {
  display: block;
}
/* Text meant only for screen readers. */
/*.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
/*}*/
/* End Footer */

/*Contact page */
.page-id-47354 .main-content {
  max-width: 60%;
  margin: 0 auto;
}
.nf-before-form-content {
  display: none;
}
.ninja-forms-req-symbol {
  display: none;
}
input[type="button"] {
  background: #1477d1;
}
input[type="button" i] {
  float: right;
}
.nf-field-label label {
  font-weight: 400;
  font-size: .823em;
}
/* End Contact Page */
