/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Your Name!
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/* Homepage styles */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}
#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}
#masthead nav ul li {
  float: left;
  margin: 0 10px;
}
.button {
	background: none repeat scroll 0 0 #45ac9d;
} /* the "background:"" from parent style.css didn't have "none repeat scroll 0 0" it just had the color #333. When I just replaced #333 with #45ac9d it worked fine. */
.featured-work .site-content{
 display: block;
}
.featured-work .site-content h4 {
  font-size: 16px;
  font-size: .94em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-bottom: 2.5em;
}
.homepage-featured-work-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.individual-work-title { /* granular */
  text-align: center;
}
.recent-posts {
  margin-top: 50px;
}

.blog-post {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.blog-post h4 {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}
.blog-post h2 {
  font-size: 1.5em;
}
.read-more-link {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	color: #45ac9d;
	text-transform: uppercase;
}

 /* Case Studies */
 article .case-study{
   margin: 40px 0 0;
 }
 article .case-study-sidebar {
   float: left;
   width: 314px;
   margin: 0 40px 0 0;
 }

 div .case-study-images {
   float: left;
   width: 606px;
 }
 div .case-study-images img {
   display: block;
   margin-bottom: 50px;
   border: 1px solid #dddddd;
 }
 .main-content {
   margin-bottom: 80px;
 }

/* Case Study Archive */
.case-study {
  margin-top: 80px;
  margin-bottom: 80px;
}
.case-study-images {
  padding-left: 85px;
}
div.case-study-images img {
	width: 100%;
	height: auto;
}
.view-project {
  color: #45ac9d;
}

/* Footer */
.social-media-menu li {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  background: black;
  border-radius: 50%;
}
.social-media-menu li a {
  color: white;
  padding: 0 5px 0 5px;
}
#main {
  display: block;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/*Contact page */
.main-content {
  max-width: 60%;
  margin: 0 auto;
}
.nf-before-form-content {
  display: none;
}
.ninja-forms-req-symbol {
  display: none;
}
input[type="button"] {
  background: #45ac9d;
}
input[type="button" i] {
  float: right;
}
.nf-field-label label {
  font-weight: 400;
  font-size: .823em;
}
